# Enable the rewrite engine
RewriteEngine On

# Conditionally rewrite requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to the index.php file in the public directory
RewriteRule ^(.*)$ /public/$1 [L]
